body {
  background-color: #E9F1F4;
}

.set-password-tip {
  padding: 1.5rem 1rem;
  text-align: center;
}

.mock-pwd {
  text-align: center;
  $pwd-width: 50px;
  position: relative;
  > ol {
    display: inline-block;
    border: 1px solid #e2eaee;
    border-radius: 5px;
    padding: 0;
    line-height: $pwd-width;
    height: $pwd-width;
    background-color: #fff;
    > li {
      position: relative;
      display: inline-block;
      width: $pwd-width;
      height: $pwd-width;
      line-height: $pwd-width;
      border-right: 1px solid #e6e6e6;
      &:last-child {
        border-right: none;
      }
      &.active:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background: #000;
        border-radius: 50%;
      }
    }
  }
}
.input-wrapper {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #E9F1F4;
    //background: #fff;
    z-index: 10;
  }
}
.pwd-input {
  border: none;
  color: transparent;
  text-shadow: 0 0 0 gray;
  transform: scale(0);
  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
    text-indent: -9999em;
  }
}